.startlogo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}
.startpage-h1 {
  padding-top: 70px;
  font-size: 30px;
  padding-bottom: 0px;
}

.startpage-h2 {
  padding-top: 10px;
  margin-bottom: 20px;
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
}
